body {
    background-color: rgba(24, 24, 24, .5);
    color: #fff;
    -webkit-app-region: no-drag;
    -webkit-user-select: none;
}

header {
  -webkit-app-region: drag;
}

.grid {
  display: grid;
  grid-template-rows: 1fr 20px;
  header {
    grid-row: 1 / 2;
  }
}

.button {
  display: inline-block;
  background-color: rgba(24, 24, 24, .5);
  -webkit-app-region: no-drag;
}

.timelineHead {
  color: #808080;
}

.timelineNext {
  color: #FFFF00
}

html {
  overflow: scroll;
}

html::-webkit-scrollbar {
  display: none;
}
