<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
  <link href="./css/setting.css" rel="stylesheet">
  <script src="https://unpkg.com/vue@next"></script>
  <title>overlay memo | Setting</title>
</head>
<body>
  <div id="app">
    <section class="grid">
      <nav>
        <ul v-for="content in contents">{{ content.title }}</ul>
      </nav>
      <article>
        <div>
          透過度 <input type="range" min="0" max="100" v-on:input="changeTransparent">
        </div>

        <div>
          <select v-on:change="changeContents" id="contents">
            <option v-for="content in contents" v-bind:value="content.id">
              {{ content.title }}
            </option>
          </select>
        </div>

        <div>
          <table border="1">
            <tr v-for="timeline in timelines">
              <td>{{ timeline.time }}</td>
              <td>{{ timeline.action }}</td>
              <td style="white-space:pre-wrap;">{{ timeline.memo }}</td>
            </tr>
            <tr>
              <td><input type="text" v-model="newTime"></td>
              <td><input type="text" v-model="newAction"></td>
              <td><textarea v-model="newMemo"></textarea></td>
            </tr>
          </table>
          <button v-on:click="addTimeline">Add</button>
        </div>

      </article>
    </section>
  </div>
  <script src="./script/setting.js"></script>
</body>
</html>
